<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188560455224-f00l3trh3b5mq8nlqomq8at5a85du48h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188560455224-f00l3trh3b5mq8nlqomq8at5a85du48h</string>
	<key>API_KEY</key>
	<string>AIzaSyCq6BMmywvztjMiwr_zGmuCF4KY-Ohmprw</string>
	<key>GCM_SENDER_ID</key>
	<string>188560455224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Bulat.41738765439</string>
	<key>PROJECT_ID</key>
	<string>networking-56bfe</string>
	<key>STORAGE_BUCKET</key>
	<string>networking-56bfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188560455224:ios:b3c2b384add780c54398cd</string>
</dict>
</plist>